<!DOCTYPE html>
<div class="userListPro">
    <div class="addAndSerch">
        <div class="add"></div>
        <div class="serch"></div>
    </div>
        <div class="allAboutDiv">
            <div class="about1"><span class="spText">Rent</span>
                <div class="aboutLogo"></div>
            </div>
            <div class="about1"><span class="spText">Propertis</span>
                <div class="aboutLogo"></div>
            </div>
            <div class="about1"><span class="spText">Tax </span>
                <div class="aboutLogo"></div>
            </div>
            <div class="about1"><span class="spText">Bonuses</span>
                <div class="aboutLogo"></div>
            </div>
        </div>
        <div class="allAboutDiv">
                <div class="about1"><span class="spText">Internet</span>
                    <div class="aboutLogo"></div>
                </div>
                <div class="about1"><span class="spText">Coffee</span>
                    <div class="aboutLogo"></div>
                </div>
                <div class="about1"><span class="spText">Safary </span>
                    <div class="aboutLogo"></div>
                </div>
                <div class="about1"><span class="spText">Transaction Fee</span>
                    <div class="aboutLogo"></div>
                </div>
        </div>
        <div class="allAboutDiv">
                <div class="about1"><span class="spText">Online tools</span>
                    <div class="aboutLogo"></div>
                </div>
                <div class="about1"><span class="spText">New office transfer</span>
                    <div class="aboutLogo"></div>
                </div>
                 <div class="about1"><span class="spText">Other</span>
                    <div class="aboutLogo"></div>
                </div>
                <div class="about1"><span class="spText">Utilities</span>
                    <div class="aboutLogo"></div>
                </div>
        </div>
        <div class="allAboutDiv">
            <div class="about1"><span class="spText">Accounting</span>
                <div class="aboutLogo"></div>
            </div>
        </div>
        <div class="allAboutDiv"></div>
</div>
