<!DOCTYPE html>
<app-heder></app-heder>

<div class="navSide">
    <div class="navBarTop">
        <div class="navLogo"></div>
        <div class="navText">BRAIN FORS</div>
    </div>
    <div class="navBarAllLogoAndText">
        <div class="logoAndText">
            <div class=" logo1 "><img src="{{menuItms[0].img1}} " style="height: 30px; margin: 10px; " alt="h "></div>
            <div class="text1 ">{{menuItms[0].itm1}}</div>
        </div>
        <div class="logoAndText ">
            <div class="logo2 "><img src="{{menuItms[0].img2}} " style="height: 30px; margin: 10px; " alt="h "></div>
            <div class="text2 ">{{menuItms[0].itm2}}</div>
        </div>
        <div class="logoAndText ">
            <div class="logo3 "><img src="{{menuItms[0].img3}} " style="height: 30px; margin: 10px; " alt="h "></div>
            <div class="text3 ">{{menuItms[0].itm3}}</div>
        </div>
        <div class="logoAndText ">
            <div class="logo4 "><img src="{{menuItms[0].img4}} " style="height: 30px; margin: 10px; " alt="h "></div>
            <div class="text4 ">{{menuItms[0].itm4}}</div>
        </div>
        <div class="logoAndText ">
            <div class="logo5 "><img src="{{menuItms[0].img5}} " style="height: 30px; margin: 10px; " alt="h "></div>
            <div class="text5 ">{{menuItms[0].itm5}}</div>
        </div>
    </div>
    <div class="fout ">
        <div class="settings ">
            <div class="logoSet "></div>
            <div class="textSet ">Setting</div>
        </div>
        <div class="expenseLaT ">
            <div class="expenseLogo "><img src="{{menuItms[0].img3}} " style="height: 30px; margin: 10px; " alt="h "></div>
            <div class="expenseText ">Expense Categories</div>
        </div>
        <div class="recurringLaT ">
            <div class="recurringLogo "><img src="{{menuItms[0].img3}} " style="height: 30px; margin: 10px; " alt="h "></div>
            <div class="recurringText ">Recurring expenses</div>
        </div>
        <div class="expenseLaTAnother ">
            <div class="expenseLogoAnother "><img src="{{menuItms[0].img6}} " style="height: 30px; margin: 10px; " alt="h "></div>
            <div class="expenseTextAnother ">{{menuItms[0].itm6}}</div>
        </div>
    </div>

</div>