<!DOCTYPE html>
<app-heder></app-heder>

<div class="navSide">
    <div class="navBarTop">
        <div class="navLogo"></div>
        <div class="navText">BRAIN FORS</div>
    </div>
    <div class="navBarAllLogoAndText">
        <div class="logoAndText">
            <div class="logo1"></div>
            <div class="text1">Dshboard</div>
        </div>
        <div class="logoAndText">
            <div class="logo2"></div>
            <div class="text2">Reports</div>
        </div>
        <div class="logoAndText">
            <div class="logo3"></div>
            <div class="text3">Finacial</div>
        </div>
        <div class="logoAndText">
            <div class="logo4"></div>
            <div class="text4">Projects</div>
        </div>
        <div class="logoAndText">
            <div class="logo5"></div>
            <div class="text5">Employee Information</div>
        </div>
    </div>
    <div class="fout">
        <div class="settings">
            <div class="logoSet"></div>
            <div class="textSet">Setting</div>
        </div>
        <div class="expenseLaT">
            <div class="expenseLogo"></div>
            <div class="expenseText">Expense Categories</div>
        </div>
        <div class="recurringLaT">
            <div class="recurringLogo"></div>
            <div class="recurringText">Recurring expenses</div>
        </div>
        <div class="expenseLaTAnother">
            <div class="expenseLogoAnother"></div>
            <div class="expenseTextAnother">Website</div>
        </div>
    </div>

</div>
